html {
	background:#EEE;
}
/* FRONT PAGE STYLES */
h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-weight:100;
	color:#0067C6;
}
p {
	font-family:'Roboto', 'Open Sans', sans-serif;
	font-weight:100;
	font-size:1em;
}
strong, em {
	font-weight:normal;
	font-style:normal;
}
.frontpage.wrapper {
	height:100%;
	width:100%;
	background:url('assets/birdjacket.jpg') center center;
	background-size:cover !important;
	background-color:transparent;
}
.front #contents {
	width:100%;
}
.frontpage.wrapper #menuwrap #icon-nav,
.frontpage.wrapper #menuwrap #nav {
	position:relative;
	z-index:2;
}
.blackout {
	background:rgba(0, 0, 0, 0.4);
	height:100%;
}
#nav li a,
#nav li.current-menu-item a,
#nav li.current-page-ancestor a {
	color:#FFF;
}
.frontpage.wrapper #menuwrap,
.frontpage.wrapper #nav,
.frontpage.wrapper #subpages {
	background:transparent !important;
}
.homecontainer {
	background-image: url('');
	background-size: cover;
	background-position:center center;
	background-color:#F5F5F5;
}
.homecontainer .entry {
	padding:1em;
	display:block;
	text-align:left;
}
.homecontainer p {
	padding:1em;
	margin:0;
}

/* TITLE */
.wrapper .title {
	position:absolute;
	top:0;
	z-index:0;
	background-color:transparent;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-align: center; -moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center; -moz-box-pack: center; 
	-ms-flex-pack: center; 
	-webkit-justify-content: center;
	justify-content: center;

	margin: 0;
	height: 100%;
	width: 100% /* needed for Firefox */
}
.wrapper .title .entry {
	color:#fff;
	text-align:center;
}
.wrapper .title .entry p {
	margin:auto;
}
.wrapper .title .titletext {
	font-size:3em;
	display:block;
	color:#fff;
	float:none;
	line-height:0.7em;
	vertical-align:middle;
	padding:0;
}

/* MENUS */
.fronticon {
	padding:0 0.33em;
	display:inline-block;
	font-size: 3em;
	float:none;
	vertical-align:middle;
	bottom:0;
}
.wrapper .links {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
	width:100%;
	text-align:center;
}
.wrapper .links a {
	border-bottom:none;
	color:#FFF;
}
.wrapper .links a:hover {
	color:#0067C6;
}

/* VIDEO */

.video.homecontainer {
	padding:0;
}
.video iframe {
	min-width:100%;
	padding:0;
	margin:0;
	float:left;
}

/* BLOG */
.homecontainer .entry.posted article {
	padding:2em;
	text-align:left;
}

/* FIRST */
#contents .first.homecontainer {
	background-image:url('assets/first-background.png');
}
#contents .first p {
	margin-bottom:0;
	padding-bottom:0;
}

/* LOCATION */
#contents .location.homecontainer {
	color:#0067C6;
	background:url('assets/san-marino-map.png') center center;
	background-size: cover;
}

/* CONTAINER ON THE RIGHT */
.homecontainer .entry.rightside {
	min-height:300px;
	background:rgba(255, 255, 255, 0.8);
	width:65%;
	float:right;
	color:#0067C6;
	text-align:left;
}

/* CONTAINER ON THE LEFT */
.homecontainer .entry.leftside {
	min-height:300px;
	background:rgba(255, 255, 255, 0.8);
	width:65%;
	color:#0067C6;
	text-align:left;
	display:inline-block;
}
.homecontainer .entry.leftside div {
	height:100%;
	display:inline-block;
	vertical-align: middle;
}

/* WHITE BACKGROUND & BORDERS */
#contents .white.homecontainer {
	float:left;
	width:100%;
	padding:0;
	display:block;
	border-width:0 0 1px;
}

/* SOCIAL */
#contents .social .entry a,
#contents .sponsors.entry a {
	font-size:2em;
	padding:0.5em;
	border:none;
}
.social.homecontainer {
	float:left;
	width:100%;
	padding:0;
	display:block;
}
.social.homecontainer p {
	text-align:center;
}

/* SPONSORS */
.front .sponsors table {
	width:100%;
}
.front .sponsors table td {
	width:100%;
	padding:0;
	text-align:center;
}
#contents .sponsors.entry a {
	font-weight:100;
	font-size:1.4em;
}
@media screen and (max-width:720px) {
	.frontpage.wrapper .title .titletext {
		font-size:1.5em;
	}
	#nav li a{
		color:#737373;;
	}
	#nav li.current-menu-item a,
	#nav li.current-page-ancestor a {
		color:#000;
	}
	.fronticon {
		padding:0 0.5em;
		display:inline-block;
		font-size: 2em;
	}
}