.print
{
    display: none;
    visibility: hidden;
}
@media print
{
    html,
    body
    {
        background: none;
        font-family:'Source Sans Pro', sans-serif;
    }
    #page {
        width:80%;
        margin:auto;
        margin-top:5em;
    }
    .logo {
        width:15em;
    }
    img.print
    {
        height: 74px;
        margin: 10px auto auto;
    }
    .print
    {
        display: inherit;
        visibility: inherit;
    }
    #icon-nav
    {
        background: none;
    }
    .screen
    {
        display: none!important;
    }
    .menu .logo a
    {
        padding: 0;
    }
    .thumbnail h1,
    #subpages h1
    {
        font-weight: bold;

        position: relative;

        display: inline-block;

        padding:1em 0 0;

        -webkit-animation: none;
                animation: none;
        text-align: left;

        opacity: 1;
        color: black;
        text-shadow: none;
    }
    img
    {
        display: block;
        float: none;

        margin: auto;
        max-width:100%;
        width:auto;
        height:auto;
    }
    .wp-caption-text {
        font-style:italic;
        text-align:center;
    }
    .normal,
    .wrapper
    {
        width: 98%;
        max-width: none;
    }
    #contents
    {
        border: none;
    }
    aside, article
    {
        padding: 1em;
    }
    .gce-page-list .description
    {
        font-weight: bold;

        color: black;
        background: none;
    }
    .gce-page-list .description a
    {
        text-decoration: underline;

        color: black;
    }
    .gce-page-list .gce-list p.description span,
    .gce-page-list .gce-list div.description span
    {
        color: black;
    }
    .copy {
        text-align:center;
    }
    .copy:after {
        content:'Information found on www.titaniumrobotics.com';
    }
}
