.gce-list li
{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

    list-style: none;

    border-left: 3px solid #7fb3e2;
}
.gce-list-event
{
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1;

    box-sizing: border-box;
    padding: 0;
}
.gce-list li:nth-child(odd)
{
    background: #cce0f3;
}
.gce-page-list .gce-list .gce-list-event
{
    background: none!important;
}
.gce-page-list .gce-list p span,
.gce-page-list .gce-list div span
{
    font-weight: bold;

    display: inline-block;

    width: 6em;
}
.gce-page-list .description
{
    display: inline;

    padding: 0;

    color: #fff;
    background: #0067c6;
}
.gce-page-list .description a
{
    color: #fff;
}
.gce-page-list .gce-list p.description span,
.gce-page-list .gce-list div.description span
{
    color: #fff;
}
li.gce-feed-2
{
    border-left: 3px solid #f8c79a;
}
li.gce-feed-3
{
    border-left: 3px solid #98df98;
}
